
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin: auto;
    min-height: 100vh;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(224 100% 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 43rem;
    width: 28rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
}

main img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

h1 {
    font-size: 1.8rem;
}

p {
    color: hsl(227, 19%, 53%);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(224 100% 98%);
    width: 22rem;
    height: 6rem;
    margin: auto;
    border-radius: 1rem;
}

.price button {
    margin-left: 5rem;
    font-size: 0.9rem;
    border-style: none;
    background-color: transparent;
    color: hsl(225, 100%, 90%);
}

.price button:hover {
    color: hsl(244, 84%, 69%);
    transition: 1s;
}

#description {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description h2 {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

#text {
    margin-top: 2rem;
    text-align: center;
}

#text p {
    margin: 1.5rem 3rem;
    line-height: 1.8rem;
}

.buttons {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proceed {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-style: none;
    border-radius: 0.7rem;
    color: aliceblue;
    background-color: hsl(244 84% 75%);
    height: 3rem;
    width: 22rem;
}

#proceed:hover {
    background-color: hsl(244, 84%, 69%);
    transition: 1s;
    scale: 101%;
}

#proceed:active {
    transition: 3ms;
    scale: 100%;
    background-color: hsl(244, 84%, 50%);
}

#cancel {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem;
    border-style: none;
    border-radius: 0.7rem;
    color: hsl(227, 19%, 53%);
    background-color: white;
}

#cancel:hover {
    transition: 5ms;
    color: hsl(0, 71%, 65%);
}

footer {
    margin-top: 2rem;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    body {
        background-image: url("./images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-color: hsl(224 100% 94%);
    }

    main {
        margin-top: 3rem;
        height: 35rem;
        width: 20rem;
    }

    main img {
        width: 20rem;
    }

    .price {
        justify-content: space-between;
        width: 17rem;
        height: 5rem;
    }

    h1 {
        font-size: 1.4rem;
    }
    
    .price button{
        margin: 1rem;
        font-size: 0.8rem;
        text-decoration: underline;
        color: hsl(255, 100%, 50%);
    }
    
    .price button:hover {
        color: hsl(244, 70%, 49%);
        transition: 1s;
    }

    .price img {
        margin: 1rem 0 1rem 1rem;
        width: 3rem;
    }
    
    #description h2, p{
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
    }
    
    #text {
        margin-top: 2rem;
        margin-bottom: 1.2rem;
        text-align: center;
    }
    
    #text p {
        font-size: 0.95rem;
        margin: 0.8rem 2rem;
        line-height: 1.5rem;
    }
    
    .buttons {
        margin: 1.8rem 3rem;
    }
    
    #proceed {
        background-color: rgb(50, 35, 255);
        height: 3rem;
        width: 17rem;
    }
    
    #proceed:hover {
        background-color: hsl(244, 84%, 69%);
        transition: 1s;
        scale: 101%;
    }
    
    #proceed:active {
        transition: 3ms;
        scale: 100%;
        background-color: hsl(244, 84%, 50%);
    }
    
    #cancel {
        margin-top: 1.5rem;
        color: hsl(227, 19%, 53%);
    }
    
}